In [1]:
from elemeno_ai_sdk.ml.features.feature_store import FeatureStore
import pandas as pd
import os

Log level set to WARNING

In [2]:
os.environ["MLHUB_API_KEY"] = "eyJhbGciOiJSUzI1NiIsImtpZCI6ImVsZW1lbm8tc2Fhcy1hcHBzLWtleS1pZCIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50Ijoib2xpdmVpcmEudWZyajExQGdtYWlsLmNvbSIsInN1YiI6ImRldmVsb3BtZW50QGVsZW1lbm8uYWkiLCJpYXQiOjE2OTYyNTUyMDAsImV4cCI6MTczNTY1MzU5MiwiaXNzIjoiZGV2ZWxvcG1lbnRAZWxlbWVuby5haSJ9.UP60qJYtPQx5I2bXGFw0FQWsKSQse0ZOVkdyUrNPUH5SaZCkW81e2-hZUBydACo24csC0yBEV-6oH35iDpGplOOrBXd9Czj6r0Uc_J5K5953kLz036oKBIDy-7zGb4iZKDimna7jX5JOk2zmYgtBaz_kgkZ-lJYMv02Hmi9dbcNQa0MKK06CwaD9KoXbCBNLNbARNdpvMNqD7inxTh-RWs0hsolkWTF_-6GDc151qUX1BLk217oTi5x8ZZVJUKwEBbSVsxB_ZhIUI3sCA0MEZdc3KWAOWVhxBmE9myyygV-zu5ukW2Jd7qs5ov-4kdjlP4AAH8rkELPdY8a7ulIhdA"

In [3]:
raw_data = pd.read_csv("./creditcard_2023.csv")
raw_data["event_timestamp"] = "2023-10-02"
raw_data.drop(["V16", "V17", "V18", "V19", "V20", "V21", "V22", "V23", "V24", "V25", "V26", "V27", "V28"], axis=1, inplace=True)
raw_data.columns = [col.lower() for col in raw_data.columns]
raw_data.head()

,id,v1,v2,v3,v4,v5,v6,v7,v8,v9,v10,v11,v12,v13,v14,v15,amount,class,event_timestamp
0,0,-0.260648,-0.469648,2.496266,-0.083724,0.129681,0.732898,0.519014,-0.130006,0.727159,0.637735,-0.987020,0.293438,-0.941386,0.549020,1.804879,17982.10,0,2023-10-02
1,1,0.985100,-0.356045,0.558056,-0.429654,0.277140,0.428605,0.406466,-0.133118,0.347452,0.529808,0.140107,1.564246,0.574074,0.627719,0.706121,6531.37,0,2023-10-02
2,2,-0.260272,-0.949385,1.728538,-0.457986,0.074062,1.419481,0.743511,-0.095576,-0.261297,0.690708,-0.272985,0.659201,0.805173,0.616874,3.069025,2513.54,0,2023-10-02
3,3,-0.152152,-0.508959,1.746840,-1.090178,0.249486,1.143312,0.518269,-0.065130,-0.205698,0.575231,-0.752581,0.737483,0.592994,0.559535,-0.697664,5384.44,0,2023-10-02
4,4,-0.206820,-0.165280,1.527053,-0.448293,0.106125,0.530549,0.658849,-0.212660,1.049921,0.968046,-1.203171,1.029577,1.439310,0.241454,0.153008,14278.97,0,2023-10-02

In [4]:
fs = FeatureStore(remote_server="https://feature-server-oliveira-ufrj11-gmail-com.app.elemeno.ai")

In [5]:
await fs.create_feature_table(fs_schema="./fs_schema_test.json")

''

In [6]:
sample = raw_data.sample(n=5000)

In [7]:
sample.shape

(5000, 19)

In [8]:
await fs.ingest(feature_table_name="creditcard_demo", to_ingest=sample)

100%|██████████| 10/10 [01:21<00:00,  8.12s/it]

In [10]:
data = await fs.get_training_features(
    feature_table_name="creditcard_demo", 
    date_from="2023-01-01", 
    date_to="2023-10-04"
)

In [11]:
data

,v1,v2,v3,v4,v5,v6,v7,v8,v9,v10,v11,v12,v13,v14,v15,amount,class,event_timestamp,id
0,1.611840,-0.941387,0.163640,-0.785247,-0.055415,0.417953,0.228795,-0.157341,0.577776,0.934445,-1.857690,0.479213,-0.182374,0.621147,-0.226072,18411.17,0,2023-10-02T00:00:00,221064
1,-1.126272,0.653122,-1.190442,0.969000,-1.015339,-0.852466,-0.796549,0.768500,-1.423326,-1.280598,1.449955,-1.236246,0.332515,-1.457551,-0.417801,2657.45,1,2023-10-02T00:00:00,497218
2,-0.523206,-0.302420,0.393144,-1.457566,0.060601,-0.554108,0.295233,0.113661,0.574103,-0.013019,-0.234319,1.895497,-0.828929,1.824241,-0.627436,17133.90,0,2023-10-02T00:00:00,21234
3,0.894391,-0.155436,0.351942,0.343899,0.398018,0.278161,0.430407,-0.102675,0.037472,0.527451,0.285259,0.275215,-1.895478,0.056294,0.511124,7653.42,1,2023-10-02T00:00:00,518262
4,1.035060,-1.075417,0.863264,-1.365285,-0.210794,0.886369,0.036616,-0.124298,-0.108852,1.177971,-1.672351,0.482409,1.963379,0.210321,-0.078325,2995.83,0,2023-10-02T00:00:00,91600
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,-0.346506,-0.548843,1.575170,-0.079261,0.719742,0.586902,0.132455,0.059327,0.027144,0.592814,-0.812045,1.194048,1.398925,0.691505,-0.539522,3645.04,0,2023-10-02T00:00:00,115967
4996,-0.079104,-0.082967,-0.201996,-0.409963,-0.119803,0.461584,-0.153037,0.143950,0.136413,-0.396040,0.225282,-0.389164,-0.302625,-0.458797,-0.804935,20942.84,1,2023-10-02T00:00:00,406023
4997,0.829926,-0.246542,0.323241,-0.301518,0.381739,0.053237,0.526109,-0.156779,0.232906,0.376828,0.346120,1.060599,-0.295538,0.274754,0.608960,22113.73,1,2023-10-02T00:00:00,311471
4998,0.905100,-0.066938,0.023122,0.130571,0.612351,-0.051669,0.532223,-0.143829,0.417256,-0.043664,0.414689,0.792071,-0.287040,-0.583968,-0.188646,20574.23,1,2023-10-02T00:00:00,304232
4999,-0.056949,-0.021407,1.351992,0.285003,0.344060,0.470065,0.464732,-0.044675,0.387662,0.532569,-0.414128,-0.371749,1.419370,2.511717,0.081463,22855.38,0,2023-10-02T00:00:00,6143